@model TripToDoList.ViewModels.TodoItemsDashboardViewModel
<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @Model.Trip.Name
            </h1>
            <h2 class="subtitle">
                @Model.Trip.Description
            </h2>
        </div>
    </div>
</section>
<div class="columns" style="padding-top: 25px">
    <div class="column is-12 is-hidden-mobile">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">
                    Add awesome things To do
                </p>
                <div style="padding-top:7px;padding-right:7px">
                    <a href="/Home/Index" class="button">Back</a>
                </div>
            </header>
            <div class="card-content">
                <div class="content">
                    @if (ViewBag.Success != null)
                    {
                        <article id="sucessMessage" class="sucessMessage message is-success">
                            <div class="message-body">
                                <strong>@ViewBag.Success</strong>
                            </div>
                        </article>
                    }
                    @if (ViewBag.WarningMessage != null)
                    {
                        <article id="warningMessage" class="warningMessage message is-warning">
                            <div class="message-body">
                                <strong>All fields are mandatory! </strong> Métete en el juego vale!
                            </div>
                        </article>
                    }
                    @using (Html.BeginForm("AddTodoItem", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="columns">
                            <div class="column is-3">
                                <b>Title</b>
                                @Html.HiddenFor(m => m.NewTodoItem.TripId)
                                @Html.TextBoxFor(m => m.NewTodoItem.Title, new { @class = "input", @placeholder = "Birras" })

                            </div>
                            <div class="column is-5">
                                <b>Description</b>
                                @Html.TextBoxFor(m => m.NewTodoItem.Description, new { @class = "input", @placeholder = "Ir a tomar birras pues coño" })
                            </div>
                            <div class="column is-2">
                                <b>Type</b>
                                <br />
                                <div class="control">
                                    <div class="select">
                                        @Html.DropDownListFor(model => model.NewTodoItem.Type, Model.PossibleTypes.Select(option => new SelectListItem
                                        {
                                           Text = Html.DisplayTextFor(_ => option).ToString(),
                                           Value = option.ToString(),
                                           Selected = false
                                       }), "Select Type", null)
                                    </div>
                                </div>
                            </div>
                            <div class="column is-1" style="padding-top:32px">
                                <input class="button is-info" type="submit" value="Add">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-12">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    TODO Items
                </p>
            </header>
            <div class="card-content" style="padding:25px">
                <div class="content" style="font-size: 15px">
                    <div class="is-hidden-tablet">
                        @if (ViewBag.Success != null)
                        {
                            <article id="sucessMessage" class="sucessMessage message is-success">
                                <div class="message-body">
                                    <strong>TODO Item saved!</strong>
                                </div>
                            </article>
                        }
                        @if (ViewBag.WarningMessage != null)
                        {
                            <article id="warningMessage" class="warningMessage message is-warning">
                                <div class="message-body">
                                    <strong>All fields are mandatory! </strong> Métete en el juego vale!
                                </div>
                            </article>
                        }
                        <button class="button is-info" id="showModal">Add</button>
                        <hr />
                    </div>
                    <div>
                        <strong>Total Items: </strong> @Model.TodoItems.Count ||
                        <strong>Checked Items: </strong> @Model.TodoItems.Where(i => i.Done).Count()
                    </div>
                    <table class="table is-hoverable is-bordered is-hidden-mobile">
                        <thead class="is-head-background-color">
                            <tr>
                                <th></th>
                                <th>Title</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TodoItems)
                            {
                                <tr @if (item.Done) { <text> class="is-selected" </text> }>
                                    <td style="text-align: center">
                                        <p style="font-size: 20px">
                                            <strong style="font-weight:bold;color:@if (item.Done) { <text>white</text> }else{ <text>cadetblue</text> }">
                                                @if (item.Type == TripToDoList.ViewModels.TodoItemTypes.Food)
                                                {
                                                    <i class="fa fa-pizza-slice"></i>
                                                }
                                                else if (item.Type == TripToDoList.ViewModels.TodoItemTypes.Entertainment)
                                                {

                                                    <i class="fas fa-tv"></i>
                                                }
                                                else if (item.Type == TripToDoList.ViewModels.TodoItemTypes.NightOut)
                                                {

                                                    <i class="fas fa-glass-martini-alt"></i>
                                                }
                                                else if (item.Type == TripToDoList.ViewModels.TodoItemTypes.SexyTime)
                                                {

                                                    <i class="fas fa-venus-mars"></i>
                                                }
                                                else if (item.Type == TripToDoList.ViewModels.TodoItemTypes.Beach)
                                                {

                                                    <i class="fas fa-umbrella-beach"></i>
                                                }
                                                else if (item.Type == TripToDoList.ViewModels.TodoItemTypes.Outdoors)
                                                {

                                                    <i class="fas fa-hiking"></i>
                                                }
                                                else if (item.Type == TripToDoList.ViewModels.TodoItemTypes.Sports)
                                                {

                                                    <i class="fas fa-dumbbell"></i>
                                                }
                                            </strong>
                                        </p>
                                    </td>
                                    <td>
                                        @if (item.Title.Length > 25)
                                        {
                                            <text>@item.Title.Substring(0, 25)</text>
                                        }
                                        else
                                        {
                                            @item.Title
                                        }
                                    </td>
                                    <td>
                                        @if (item.Description.Length > 75)
                                        {
                                            <text>@item.Description.Substring(0, 75)</text>
                                        }
                                        else
                                        {
                                            @item.Description
                                        }
                                    </td>
                                    <td style="text-align:center">
                                        <button id="@item.Id" class="button is-info is-small detail-button">Details</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table class="table is-hoverable is-bordered is-hidden-tablet">
                        <thead class="is-head-background-color">
                            <tr>
                                <th></th>
                                <th>Title</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TodoItems)
                            {
                                <tr id="@item.Id" class="detail-button @if (item.Done) { <text>is-selected</text> }">
                                    <td style="text-align: center">
                                        <p style="font-size: 20px">
                                            <strong style="font-weight:bold;color:@if (item.Done) { <text>white</text> }else{ <text>cadetblue</text> }">
                                                @if (item.Type == TripToDoList.ViewModels.TodoItemTypes.Food)
                                                {
                                                    <i class="fa fa-pizza-slice"></i>
                                                }
                                                else if (item.Type == TripToDoList.ViewModels.TodoItemTypes.Entertainment)
                                                {

                                                    <i class="fas fa-tv"></i>
                                                }
                                                else if (item.Type == TripToDoList.ViewModels.TodoItemTypes.NightOut)
                                                {

                                                    <i class="fas fa-glass-martini-alt"></i>
                                                }
                                                else if (item.Type == TripToDoList.ViewModels.TodoItemTypes.SexyTime)
                                                {

                                                    <i class="fas fa-venus-mars"></i>
                                                }
                                                else if (item.Type == TripToDoList.ViewModels.TodoItemTypes.Beach)
                                                {

                                                    <i class="fas fa-umbrella-beach"></i>
                                                }
                                                else if (item.Type == TripToDoList.ViewModels.TodoItemTypes.Outdoors)
                                                {

                                                    <i class="fas fa-hiking"></i>
                                                }
                                                else if (item.Type == TripToDoList.ViewModels.TodoItemTypes.Sports)
                                                {

                                                    <i class="fas fa-dumbbell"></i>
                                                }
                                            </strong>
                                        </p>
                                    </td>
                                    <td>
                                        @if (item.Title.Length > 10)
                                        {
                                            <text>@item.Title.Substring(0, 10)</text>
                                        }
                                        else
                                        {
                                            @item.Title
                                        }
                                    </td>
                                    <td>
                                        @if (item.Description.Length > 50)
                                        {
                                            <text>@item.Description.Substring(0, 50)</text>
                                        }
                                        else
                                        {
                                            @item.Description
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addModal" class="modal" style="padding-left:25px;padding-right:25px">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div style="background-color:white;padding:25px">
            <div>
                <h2>Add New TODO Item</h2>
            </div>
            <hr />
            <div>
                @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <b>Title</b>
                    @Html.TextBoxFor(m => m.NewTodoItem.Title, new { @class = "input", @placeholder = "Birras" })
                    <br />
                    <br />
                    <b>Description</b>
                    @Html.TextBoxFor(m => m.NewTodoItem.Description, new { @class = "input", @placeholder = "Ir a tomar birras pues coño" })
                    <br />
                    <br />
                    <b>Type</b>
                    <div class="control">
                        <div class="select">
                            @Html.DropDownListFor(model => model.NewTodoItem.Type, Model.PossibleTypes.Select(option => new SelectListItem
                            {
                               Text = Html.DisplayTextFor(_ => option).ToString(),
                               Value = option.ToString(),
                               Selected = false
                           }), "Select Type", null)
                        </div>
                    </div>
                    <br />
                    <br />
                    <div>
                        <input class="button is-info" type="submit" value="Add">
                        <button id="modalClose" class="button is-light">Cancel</button>
                    </div>
                }
            </div>

        </div>
    </div>
    <button class="modal-close"></button>
</div>
<div id="detailModal" class="modal" style="padding-left:25px;padding-right:25px">
    <div class="modal-background"></div>
    <div id="detailModalContent" class="modal-content">

    </div>
</div>
<script>
    $(document).ready(function () {
        //Messages time out to fade out

        $(".detail-button").click(function () {
            var id = $(this).attr("id");
            $.ajax({
                url: '/Home/Details?id=' + id,
                type: 'GET',
                success: function (data) {
                    $('#detailModalContent').html(data);
                    $("#detailModal").addClass("is-active");
                }
            });
        });

        $("#showModal").click(function () {
            $("#addModal").addClass("is-active");
        });

        $(".modal-close").click(function () {
            $("#addModal").removeClass("is-active");
        });

        $('#modalClose').click(function () {
            $("#addModal").removeClass("is-active");
        })
    });
</script>